.container 
{
  width: 900px;
  height: 500px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background: rgb(3, 3, 3);
  border-radius: 15px;


}
.title
{
  color: aqua;
}
.wrapp
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapped:hover
{

  transform: scale(1.05);
transition: all 0.6s ease-in;
}
.wrapped
{
  padding-top: 50px;
  
}
.span
{
  color: wheat;
}